* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #444;
}

a {
    text-decoration: none;
}

.container {
    display: block;
    max-width: 1080px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear-float:after,
.clear-float:before{
    content: "";
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    display: block;
    position: relative;
    min-height: 1px;
    float: left;
}

.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}

/*top-nav 顶部导航栏*/
.top-nav {
    background: #eee;
}

.top-nav .item {
    display: inline-block;
    padding: 6px 16px;
    color: #666;
}

.top-nav .item:hover {
    color: #333;
}

/*header css*/
.header {
    padding: 20px 0;
}
.header .logo {
    font-size: 30px;
}

.header .serch-bar {
    border: 2px solid #dd182b;
}